<!DOCTYPE html>
  <meta charset="utf-8">
  <title>Happy Birthday!</title>
  <link href='http://fonts.googleapis.com/css?family=Short+Stack' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/app.css">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ site.url }}/img/cake.png">
  <meta name="description" content="You always have such fun birthdays; you should have one every year. Happy birthday to you! Enjoy the cake!">

  <div id="f">
    <p>
      A project by <a href="https://twitter.com/jollife">@jollife</a>, inspired by <a href="http://cssdeck.com/labs/birthday-cake-is-my-favorite-cake">Birthday cake is my favorite cake</a>.
    </p>
    <p>
      <a href="https://github.com/johannesnagl/happy.brthdy.net/">Do you want to improve the site? Feel free!</a>
    </p>
  </div>

  <div id="c">
  {{ content }}
  </div>

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24519864-1']);
    _gaq.push(['_setDomainName', '.brthdy.net']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = 'http://www.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    $(function() {
      function a(s) {
        return s.charAt(0).toUpperCase() + s.slice(1);
      }
      var name = a(document.location.pathname.replace('/', ''));
      $("#n").text(name);
      document.title = "Happy Birthday, " + name + "!";
    });
  </script>

</html>