<!DOCTYPE html>
  <meta charset="utf-8">
  <title>{{ site.name }}</title>
  <link rel="stylesheet" href="{{ site.url }}/css/app.css">
  <meta property="og:image" content="{{ site.url }}/img/cake.gif">
  <meta name="description" content="Du hast heute Geburtstag und wir möchten dir alle herzlich dazu gratulieren. Hoch sollst du leben!">

  {{ content }}

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24519864-1']);
    _gaq.push(['_setDomainName', '.brthdy.net']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = 'http://www.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    $(function() {
      function a(s) {
        return s.charAt(0).toUpperCase() + s.slice(1);
      }
      var name = a(document.location.pathname.replace('/', ''));
      $("#name").text(name);
      document.title = "Happy Birthday, " + name + "!";
    });
  </script>

</html>